<!DOCTYPE html>
<html lang="en">
<head>

    <title>AngularJS EventStream Tutorial</title>
    <meta name="description" content="ACD Tutorials EventStream AngularJS">

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" id="darkstrap-link" type="text/css" href="css/darkstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="css/tweaks.css">
</head>
<body data-spy="scroll" data-target=".navbar">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#top">ACD EventStream</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#stream">Stream</a></li>
                        <li><a data-toggle="modal" href="#createEvent">Create event</a></li>
                        <li><a href="#search">Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div>
            <h2>Here comes the event stream...</h2>

            <div class="well grave">
                <p>
                    <span class="badge">5 May 2013 - 12:55:41</span>
                </p>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6">
                            <p>
                                <strong>Message:</strong>
                               Something bad happened somewhere....
                            </p>

                            <p>
                                <strong>Link:</strong>
                                <a href="http://url.to.somewhere">http://url.to.somewhere</a>
                            </p>
                        </div>
                        <div class="span4">
                            <p>
                                <strong>Instigators:</strong>
                                    <span class="label label-info">
                                        jalie
                                    </span>
                            </p>
                            <p>
                                <strong >Tags:</strong>
                                <span class="label label-warning">Hack</span>
                                <span class="label label-warning">Commit And Run</span>
                            </p>
                        </div>
                        <div class="span2">
                            <span class="label"><a href="#">Comments: 3</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well shameful">
                <p>
                    <span class="badge">5 May 2013 - 12:45:41</span>
                </p>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6">
                            <p>
                                <strong ng-hide="!newevent.message">Message:</strong>
                                Vrijdag ballekesdag...
                            </p>

                            <p>
                                <strong ng-hide="!newevent.link">Link:</strong>
                                <a href="http://www.deli-pierre.be">http://www.deli-pierre.be</a>
                            </p>
                        </div>
                        <div class="span4">
                            <p>
                                <strong ng-hide="!newevent.instigators">Instigators:</strong>
                                    <span ng-repeat="instigator in newevent.instigators" class="label label-info">
                                        wernerg
                                    </span>
                            </p>
                            <p>
                                <strong ng-hide="!newevent.tags">Tags:</strong>
                                <span ng-repeat="tag in newevent.tags" class="label label-warning">TODO</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="createEvent" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">X</button>
                <h3>Create an event</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal well">
                    <div class="control-group">
                        <label class="control-label" for="instigators">Instigators</label>
                        <div class="controls">
                            <select id="instigators" multiple="multiple" ng-model="newevent.instigators"
                                    class="input-large" size="2">
                                <option value="jalie">jalie</option>
                                <option value="tiroo">tiroo</option>
                                <option value="gertdw">gertdw</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="judgement">Judgement</label>
                        <div class="controls">
                            <select id="judgement" ng-model="newevent.judgement" size="2" class="input-large">
                                <option value="GRAVE">Grave</option>
                                <option value="SHAMEFUL">Shameful</option>
                                <option value="HEROLIKE">Herolike</option>
                                <option value="IMPROVING">Improving</option>
                                <option value="DETERIORATING">Deteriorating</option>
                                <option value="ALARMING">Alarming</option>
                                <option value="INDIFFERENT">Indifferent</option>
                                <option value="INFORMATIVE">Informative</option>
                                <option value="FUNNY">Funny</option>
                                <option value="FAIL">Fail</option>
                                <option value="PALM_FACE">Palm/Face</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tags">Tags</label>
                        <div class="controls">
                            <select id="tags" multiple="multiple" class="input-large" ng-model="newevent.tags"
                                    size="2">
                                <option value="REDEPLOYMENT">Redeployment</option>
                                <option value="SERVER-RESTART">Server Restart</option>
                                <option value="MAINTENANCE">Maintenance</option>
                                <option value="COMPLIANCE">Compliance</option>
                                <option value="HELP-REQUEST">Help Request</option>
                                <option value="FUNCTIONAL-QUESTION">Functional Question</option>
                                <option value="TECHNICAL-QUESTION">Technical Question</option>
                                <option value="HACK">Hack</option>
                                <option value="QUIBBLE">Quibble</option>
                                <option value="COMMIT-AND-RUN">Commit And Run</option>
                                <option value="COMPLAINT">Complaint</option>
                                <option value="PRAISE">Praise</option>
                                <option value="TODO">Todo</option>
                                <option value="QUIP">Quip</option>
                                <option value="ABSENCE">Absence</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="link">Link</label>
                        <div class="controls">
                            <input id="link" type="url" placeholder="URL" class="input-large" ng-model="newevent.link">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="message">Message</label>
                        <div class="controls">
                            <textarea id="message" class="input-large"  placeholder="Message..."
                                      ng-model="newevent.message"></textarea>
                        </div>
                    </div>

                    <div class="well">

                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span6">
                                    <p>
                                        <strong ng-hide="!newevent.message">Message:</strong>
                                        {{newevent.message}}
                                    </p>
                                    <p>
                                        <strong ng-hide="!newevent.link">Link:</strong>
                                        {{newevent.link}}
                                    </p>
                                </div>
                                <div class="span4">
                                    <p>
                                        <strong ng-hide="!newevent.instigators">Instigators:</strong>
                                    <span ng-repeat="instigator in newevent.instigators" class="label label-info">
                                        {{instigator}}
                                    </span>
                                    </p>
                                    <p>
                                        <strong ng-hide="!newevent.tags">Tags:</strong>
                                        <span ng-repeat="tag in newevent.tags" class="label label-warning">{{tag}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Save event</a>
            </div>
        </div>

    </div>

    <script src="js/jquery-2.0.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>
</html>
