/**
 * Stuff to resize the modal screen
**/
@media (min-width: 979px)  {
    .modal {
        width: 960px;
        margin-left: -480px;
    }
    .modal-body {
        max-height: 800px;
    }
    .input-large[class=input-large] {
        width: 400px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .modal {
        width: 760px;
        margin-left: -380px;
    }
    .modal-body {
        max-height: 800px;
    }
    .input-large[class=input-large] {
        width: 350px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .modal-body {
        max-height: 800px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .modal {
        width: 460px;
        height: 900px;
    }
    .modal-body {
        max-height: 800px;
    }
    .input-large[class=input-large] {
        width: 200px;
    }
}

/* Space the labels somewhat */
.labeling li {
    margin-left: 3px
}