<div id="streamContainer">

    <h2>Live Stream</h2>

    <div>
        <div class="btn-toolbar pull-right" style="margin: 0;">
            <div class="btn-group">
                <div class="dropdown-btn pull-right">
                    <a href="#" class="btn btn-danger btn-small" data-toggle="dropdown"><i class="icon-white icon-filter"></i>  Filter</a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; background-color: #202020;">
                        <form>
                            <div class="control-group">
                                <label class="control-label" for="filter-tags">Tags</label>
                                <div class="controls">
                                    <select id="filter-tags" multiple="multiple" class="input-large" size="18" data-ng-model="eventFilter.tags">
                                        <option value="ABSENCE">Absence</option>
                                        <option value="BAMBOO">Bamboo</option>
                                        <option value="COMMIT-AND-RUN">Commit And Run</option>
                                        <option value="COMPLIANCE">Compliance</option>
                                        <option value="COMPLAINT">Complaint</option>
                                        <option value="FUNCTIONAL-QUESTION">Functional Question</option>
                                        <option value="HACK">Hack</option>
                                        <option value="HELP-REQUEST">Help Request</option>
                                        <option value="MAINTENANCE">Maintenance</option>
                                        <option value="NEXUS">Nexus</option>
                                        <option value="PRAISE">Praise</option>
                                        <option value="QUIBBLE">Quibble</option>
                                        <option value="QUIP">Quip</option>
                                        <option value="REDEPLOYMENT">Redeployment</option>
                                        <option value="SERVER-RESTART">Server Restart</option>
                                        <option value="SONAR">Sonar</option>
                                        <option value="TECHNICAL-QUESTION">Technical Question</option>
                                        <option value="TODO">Todo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <input class="btn btn-danger" style="clear: left; width: 100%; " type="reset" value="Clear" data-ng-click="clearFilter()" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="well" data-ng-repeat="event in events | tagsFilter:eventFilter | orderBy: 'occurrence':true">
        <p>
            <span class="badge">{{event.occurrence | fromNow}}</span>
        </p>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <p>
                        <strong>Message:</strong>
                        {{event.message}}
                    </p>
                    <p data-ng-hide="!event.link">
                        <strong>Link:</strong>
                        <a href="{{event.link}}" target="_blank">{{event.link}}</a>
                    </p>
                </div>
                <div class="span4">
                    <ul class="inline labeling">
                        <li><strong>Instigators:</strong></li>
                        <li data-ng-repeat="instigator in event.instigators" class="label label-info">{{instigator}}</li>
                    </ul>
                    <ul class="inline labeling">
                        <li><strong>Tags:</strong></li>
                        <li data-ng-repeat="tag in event.tags" class="label label-warning">{{tag}}</li>
                    </ul>
                </div>
                <div class="span2">
                    <p>
                        <a data-toggle="modal" ng-href="/#/event/{{event._id.$oid}}/comment" class="btn-danger btn-small">
                            Comments: {{event.comments.length}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            // Setup drop down menu
            $('.dropdown-toggle').dropdown();

            // Fix input element click problem
            $('.dropdown-menu input, .dropdown-menu select, .dropdown-menu label').click(function(e) {
                e.stopPropagation();
            });
        });
    </script>

</div>